*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  padding: 1.5rem 3rem;
  margin: 0 auto;
  background-color: black;
}

header h1 {
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

header img {
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

main {
  padding: 1.5rem 3rem;
  margin: 0 auto;
}

#form {
  text-align: center;
  margin-bottom: 1.5rem;
}

#form input {
  border: 0;
  margin-right: -4px;
  padding: 0.5rem 1rem;
  border-radius: 3rem 0 0 3rem;
  text-align: center;
  border: 1px solid #950484;
}

#form input::placeholder {
  text-align: center;
}

#form button {
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

ul {
  width: auto;
  margin: 0 auto;
}

li {
  list-style: none;
  width: 100%;
}

#form button {
  background: rgb(210, 0, 148);
  background: linear-gradient(
    0deg,
    rgba(210, 0, 148, 1) 50%,
    rgba(149, 4, 132, 1) 100%
  );
  color: white;
  font-weight: 600;
  border-radius: 0 3rem 3rem 0;
  border: 1px solid #950484;
  border-left: 0;
}

#submit-new-task:hover {
  background: #950484;
}

.lists-container {
  width: 100%;
}

ul {
  background-color: #f4f6f9;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-align: center;
  max-width: 500px;
}

ul h3 {
  margin-bottom: 1rem;
}

ul button {
  padding: 0;
  margin: 0;
}

.list-item {
  margin: 0 auto;
}

.list-item p {
  display: inline-block;
  width: 78%;
}

.fa-check-circle {
  color: #4caf50;
}

.fa-times {
  color: #f44336;
}

ul li:checked {
  text-decoration: line-through;
}
